<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 打印SQL语句到控制台 -->
		<setting name="logImpl" value="LOG4J" />
		<!--  懒加载 -->
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="aggressiveLazyLoading" value="false"/>
		<setting name="cacheEnabled" value="true"/>
	</settings>
	<mappers>
		<!--一对多-->
		<mapper class="com.rumian.demo1.model.Message"></mapper>
		<mapper class="com.rumian.demo1.model.User"></mapper>

	</mappers>
</configuration>